body {
	margin: 0;
	width="100%"
	font-family: 'Lato', sans-serif;
	font-size: 100%;
	line-height: 1.5;
}

p{
font-family: 'Lato', sans-serif;
}

a {
	color: #333;
	font-family: 'Hanuman', serif;
	font-weight: 700;
	font-size:0.7em;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
a:hover {
	text-decoration-color: #c06f5e;
	color: #c06f5e;
}
h1{	color: #333;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-decoration: none;
	font-size: 22px;
	text-transform: uppercase;
	margin: 30px 0px 7px 0px;
	letter-spacing: 0.3em;}

h2{	color: #333;
	font-family: 'Hanuman', serif;
	font-weight: 700;
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
	margin: 30px 0px 7px 0px;
	letter-spacing: 0.3em;}

.link {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size:100%;
	text-transform: none;
	letter-spacing: 0em;
}
.link:hover {
		text-decoration-color: #c06f5e;
		color: #c06f5e;
	}

#nav {
	left:0;
	top:0;
	position: absolute;
	width: 100%;
	height: 80px;
	z-index: 3;
	background-color: white;
	text-align: center;
	padding:0px;
	margin:0px;
}
#nav a {
	color: #333;
	font-family: 'Hanuman', serif;
	font-weight: 700;
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
	margin: 0 0px 0 80px;
	letter-spacing: 0.3em;
}
#nav a:hover {
	border-bottom: 2px solid #c06f5e;
}

#nav a:active {
	border-bottom: 2px solid #c06f5e;
}
#nav img{
	border: none;
}

#impressum{
	position:absolute;
	top:20%;
	width:70%;
	margin-left:15%;
	margin-right:15%;
		font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 1100px) {
#nav {
	left:0;
	top:0;
	position: absolute;
	width: 100%;
	height: 105px;
	z-index: 3;
	background-color: white;
	text-align: center;
	padding-top:10px;
	margin:0;
}
#nav a {
	color: #333;
	font-family: 'Hanuman', serif;
	font-weight: 700;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	width:100%;
	margin: 0 100px 0 100px;
	letter-spacing: 0.3em;
}
#nav a:hover {
	border-bottom: 2px solid #c06f5e;
}

#nav a:active {
	border-bottom: 2px solid #c06f5e;
}
#nav img{
	padding-bottom:30px;
	border: none;
}
#impressum{
	font-family: 'Lato', sans-serif;
	position:absolute;
	top:50%;
	width:90%;
	margin-left:16px;
	margin-right:16px;
	text-align:center;
}
/*
#welcome{
	height: auto;
	width: auto;
	margin-top:23%;
	margin-left: 61%;
	position: fixed;
	z-index: 3;
}
#welcome a{
	font-family: 'Lato', sans-serif;
	background-color: #000;
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	text-align: left;
	text-decoration:none;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
#welcome a:hover{
	font-size: 29px;
}
*/


#footer {
	bottom:0;
	left:0;
	float: left;
	margin-top:30px;
	border-top: 1px solid #555;
	position: absolute;
	padding-top: 20px;
	background-color: white;
	font-size: 10px;
	letter-spacing: 0.2em;
	height: 50px;
	text-align: center;
	width: 100%;
	color: #555;
}
